$primary: #bbb;
$secondary: #122;
$textColor: #fff;

$danger: #a36;
$warning: #ffd755;
$success: rgb(39, 95, 17);
$info: #26a;

$light1: rgb(159, 180, 175);
$light2: rgb(236, 251, 252);
$light3: rgb(109, 252, 164);

$dark0: rgb(1, 46, 29);
$dark1: #412;
$dark2: rgb(59, 87, 78);
