@import "../../constansts/colorsScss.scss";

.component {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 150px;
  min-width: 100px;
  height: 100%;
  padding: 6px;
  border: 2px solid $textColor;
  border-radius: 4px;
  cursor: pointer;
  background-color: $light2;
  color: $success;

  transition: all linear 0.3s;
  &:hover {
    border-color: $warning;
    filter: contrast(1.5);
  }

  &.cardUp {
    .back {
      transform: rotateY(90deg);
    }

    .front {
      transform: rotateY(359deg);
      opacity: 1;
    }
  }
}

.back {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../../assets/img/backSideCard.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: $dark1;
}

.front {
  position: absolute;
  left: 0;
  top: 0;
  color: $secondary;
  background-color: $light2;
  transition-delay: 0.3s;
  transform: rotateY(270deg);
  opacity: 1;
  img {
    max-width: 100%;
  }
}

.success {
  border-color: $light3;
  border-width: 3px;
}
